@font-face {
	font-family: Broadway;
	src: url("../assets/fonts/Braodway.ttf");
}

nav {
	font-family: Inter;
}

.sub-nav {
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.brand {
	font-family: Broadway;
}